version: '3.8'

services:
  mongo:
    image: mongo:6
    container_name: anvogue_mongo
    command: ["--replSet", "rs0", "--bind_ip_all", "--port", "27017"]
    ports:
      - 27017:27017
    volumes:
      - mongo_data:/data/db
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "rs.initiate()"]
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 5s

volumes:
  mongo_data:
